<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><b>id: </b><span th:text="${workHours.id}"></span></p>
<p><b>время начала: </b><span th:text="${workHours.timeStart}"></span></p>
<p><b>время конца: </b><span th:text="${workHours.timeFinish}"></span></p>
<p><b>id работника: </b><span th:text="${workHours.employeeId}"></span></p>
<p><b>комментарий: </b><span th:text="${workHours.comment}"></span></p>

</body>

</html>