<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="workTime: ${workHoursList}">
    <p><a th:href="@{/workTime/{id}(id=${workTime.id})}"><b>id: </b><span th:text="${workTime.id}"></span></a></p>
    <p><b>время начала: </b><span th:text="${workTime.timeStart}"></span></p>
    <p><b>время конца: </b><span th:text="${workTime.timeFinish}"></span></p>
    <p><b>id работника: </b><span th:text="${workTime.employeeId}"></span></p>
    <p><b>комментарий: </b><span th:text="${workTime.comment}"></span></p>
    <p>---------------------------------------------------------------</p>
</div>
</body>
</html>