<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/workTime/{id}(id=${workTime.getId()})}" th:object="${workTime}" th:method="put">

    <label for="timeStart">Новое описание отчета </label>
    <input type="date" th:field="*{timeStart}" id="timeStart"/>

    <label for="timeFinish">Новое описание отчета </label>
    <input type="date" th:field="*{timeFinish}" id="timeFinish"/>

    <label for="comment">Новое описание отчета </label>
    <input type="text" th:field="*{comment}" id="comment"/>

    <input type="submit" value="Отправить"/>
</form>
</body>
</html>