<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><b>id: </b><span th:text="${employee.id}"></span></p>
<p><b>имя: </b><span th:text="${employee.firstName}"></span></p>
<p><b>отчество: </b><span th:text="${employee.middleName}"></span></p>
<p><b>фамилия: </b><span th:text="${employee.secondName}"></span></p>
<p><b>номер телефона: </b><span th:text="${employee.phoneNumber}"></span></p>
<p><b>номер карты: </b><span th:text="${employee.cardNumber}"></span></p>
<p><b>тип занятости: </b><span th:text="${employee.contractType}"></span></p>

<p><a th:href="@{/document/upload/{id}(id=${employee.id})}">Загрузить файл</a></p>

<p><a th:href="@{/employee/update/{id}(id=${employee.id})}">Изменить данные</a></p>
<br>
<form th:action="@{/employee/{id}(id=${employee.id})}" th:method="delete">
    <input type="submit" value="Удалить запись"/>
</form>

</body>
</html>