<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><b>id: </b><span th:text="${user.id}"></span></p>
<p><b>имя: </b><span th:text="${user.firstName}"></span></p>
<p><b>отчество: </b><span th:text="${user.middleName}"></span></p>
<p><b>фамилия: </b><span th:text="${user.secondName}"></span></p>
<p><b>номер телефона: </b><span th:text="${user.phoneNumber}"></span></p>
<p><b>номер карты: </b><span th:text="${user.cardNumber}"></span></p>
<p><b>тип занятости: </b><span th:text="${user.contractType}"></span></p>

<p><a th:href="@{/attachment/upload/{id}(id=${user.id})}">Загрузить файл</a></p>

<p><a th:href="@{/task/findByEmployeeId/{id}(id=${user.id})}">Найти все задачи</a></p>

<p><a th:href="@{/workTime/findByEmployeeId/{id}(id=${user.id})}">Найти все записи о часах работы</a></p>

<p><a th:href="@{/vacation/findByEmployeeId/{id}(id=${user.id})}">Найти все отпуска</a></p>

<p><a th:href="@{/user/findByEmployeeId/{id}(id=${user.id})}">Изменить данные</a></p>
<br>
<form th:action="@{/user/{id}(id=${user.id})}" th:method="delete">
    <input type="submit" value="Удалить запись"/>
</form>

</body>
</html>