<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="employee: ${employeeList}">
    <p><a th:href="@{/employee/findById/{id}(id=${employee.id})}"><b>id: </b><span th:text="${employee.id}"></span></a></p>
    <p><b>имя: </b><span th:text="${employee.firstName}"></span></p>
    <p><b>отчество: </b><span th:text="${employee.middleName}"></span></p>
    <p><b>фамилия: </b><span th:text="${employee.secondName}"></span></p>
    <p><b>номер телефона: </b><span th:text="${employee.phoneNumber}"></span></p>
    <p><b>номер карты: </b><span th:text="${employee.cardNumber}"></span></p>
    <p><b>тип занятости: </b><span th:text="${employee.contractType}"></span></p>
    <p>---------------------------------------------------------------</p>
</div>
</body>
</html>