<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/employee/{id}(id=${employee.getId()})}" th:object="${employee}" th:method="put">

    <label for="firstName">Новое имя файла </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>

    <label for="secondName">Новое имя файла </label>
    <input type="text" th:field="*{secondName}" id="secondName"/>

    <label for="phoneNumber">Новое имя файла </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>

    <label for="cardNumber">Новое имя файла </label>
    <input type="text" th:field="*{cardNumber}" id="cardNumber"/>

    <select id="contractType" th:field="*{contractType}">
        <option value="">Select contract type</option>
        <option th:each="types : ${types}" th:value="${types}" th:text="${types}"></option>
    </select>

    <input type="submit" value="Отправить"/>
</form>
</body>
</html>