<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/vacation/submit}" th:method="post">
    <input th:name="id" type="number" th:object="${id}" id="idInput"/>
    <input type="submit" value="Поиск по id"/>
</form>

<br>

<form th:action="@{/vacation/submit}" th:method="post">
    <input th:name="employeeId" type="number" th:object="${employeeId}" id="employeeIdInput"/>
    <input type="submit" value="Поиск по id работника"/>
</form>

<br>

<form th:action="@{/vacation/submit}" th:method="post">
    <select th:name="status" id="statusInput">
        <option value="">Выберите состояние задачи</option>
        <option th:each="vacationStatus : ${vacationStatus}" th:value="${vacationStatus}"
                th:text="${vacationStatus}"></option>
    </select>
    <input type="submit" value="Поиск по статусу отпуска"/>
</form>

</body>
</html>