<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>timeStart Report</title>
</head>
<body>
<form th:action="@{/vacation/}" th:object="${vacation}" th:method="post">

    <label for="timeStart">timeStart </label>
    <input type="date" th:field="*{timeStart}" id="timeStart"/>
    <div th:if="${#fields.hasErrors('timeStart')}" th:errors="*{timeStart}">Err</div>
    <br/>

    <label for="timeFinish">timeFinish </label>
    <input type="date" th:field="*{timeFinish}" id="timeFinish"/>
    <div th:if="${#fields.hasErrors('timeFinish')}" th:errors="*{timeFinish}">Err</div>
    <br/>

    <label for="user.id">user </label>
    <input type="number" th:field="*{user.id}" id="user.id"/>
    <div th:if="${#fields.hasErrors('user.id')}" th:errors="*{user.id}">Err</div>
    <br/>

    <label for="description">description </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Err</div>
    <br/>

    <select id="status" th:field="*{status}">
        <option value="">Select status</option>
        <option th:each="vacationStatus : ${vacationStatus}" th:value="${vacationStatus}"
                th:text="${vacationStatus}"></option>
    </select>
    <br/>

    <br/>

    <input type="submit" value="Create"/>

</form>

</body>
</html>