<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="vacation: ${vacationList}">
    <p><b>id: </b><span th:text="${vacation.id}"></span></p>
    <p><b>время начала: </b><span th:text="${vacation.timeStart}"></span></p>
    <p><b>время конца: </b><span th:text="${vacation.timeFinish}"></span></p>
    <p><b>id работника: </b><span th:text="${vacation.employeeId}"></span></p>
    <p><b>комментарий: </b><span th:text="${vacation.description}"></span></p>
    <p><b>статус: </b><span th:text="${vacation.status}"></span></p>
    <p>---------------------------------------------------------------</p>
</div>
</body>
</html>