<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/vacation/{id}(id=${task.id})}" th:object="${vacation}" th:method="put">

    <label for="timeStart">Новое описание отчета </label>
    <input type="date" th:field="*{timeStart}" id="timeStart"/>

    <label for="timeFinish">Новое описание отчета </label>
    <input type="date" th:field="*{timeFinish}" id="timeFinish"/>

    <label for="description">Новое описание отчета </label>
    <input type="text" th:field="*{description}" id="description"/>

    <input type="submit" value="Отправить"/>
</form>
</body>
</html>