<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><b>id: </b><span th:text="${attachment.id}"></span></p>
<p><b>имя: </b><span th:text="${attachment.name}"></span></p>
<p><b>дата загрузки: </b><span th:text="${attachment.creationDate}"></span></p>
<p><b>id загрузившего: </b><span th:text="${attachment.employeeId}"></span></p>
<p><a th:href="@{/attachment/{id}(id=${attachment.id})}">Скачать</a></p>
<br>
<p><a th:href="@{/attachment/update/{id}(id=${attachment.id})}">Изменить данные</a></p>
<br>
<form th:action="@{/attachment/{id}(id=${attachment.id})}" th:method="delete">
    <input type="submit" value="Удалить запись"/>
</form>
</body>
</html>