<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><b>id: </b><span th:text="${document.id}"></span></p>
<p><b>имя: </b><span th:text="${document.name}"></span></p>
<p><b>дата загрузки: </b><span th:text="${document.creationDate}"></span></p>
<p><b>id загрузившего: </b><span th:text="${document.employeeId}"></span></p>
<p><a th:href="@{/document/{id}(id=${document.id})}">Скачать</a></p>
<br>
<p><a th:href="@{/document/update/{id}(id=${document.id})}">Изменить данные</a></p>
<br>
<form th:action="@{/document/{id}(id=${document.id})}" th:method="delete">
    <input type="submit" value="Удалить запись"/>
</form>
</body>
</html>