<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="document: ${documentList}">
    <p><a th:href="@{/document/findById/{id}(id=${document.id})}"><b>id: </b><span th:text="${document.id}"></span></a></p>
    <p><b>имя: </b><span th:text="${document.name}"></span></p>
    <p><b>дата загрузки: </b><span th:text="${document.creationDate}"></span></p>
    <p><b>id загрузившего: </b><span th:text="${document.employeeId}"></span></p>
    <p><a th:href="@{/document/{id}(id=${document.id})}">скачать</a></p>
    <p>---------------------------------------------------------------</p>
</div>
</body>
</html>